.imageButton {
    border-radius: 20px;
    display: inline-block;
    width: 25%;
    cursor: pointer;
    outline: none;

}

.incorrect {
    border: 2px solid #E3605F;
}

.correct {
    border: 2px solid #44BE72;
}
.default {
    border: 2px solid #FFFF;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}