.input {
    min-width: 800px;
    height: 80px;
    padding-left: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.default {
    border-color: gray;
}

.success {
    border-color: green;
}

.error {
    border-color: red;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}