/* Общие стили */
.button {
    border-radius: 20px;
    font-size: 20px;
    display: inline-block;
    height: 120px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.danger {
    background-color: #E3605F;
    transition-duration: 0.2s;
    color: white;
}

.success {
    align-items: center;
    background: #44BE72;
    color: white;
    transition-duration: 0.2s;
}
.default {
    background-color: #FFFFFF;
}
.primary{
    align-items: center;
    background: #4845E9;
    color: white;
    transition-duration: 0.2s;
    flex-grow: 1;
}
.disabled {
    cursor: not-allowed;

}
.disabledButton {
    cursor: not-allowed;
    opacity: 0.5;
}
.disabledButtons{
    cursor: not-allowed;
    color: #FFFF;
    background-color: #5C59FD;
    flex-grow: 1;
    opacity: 0.5;
}