/* Общие стили */
.button {

    border-radius: 20px;
    font-size: 20px;
    display: inline-block;
    height: 120px;
    width: 25%;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.danger {
    background-color: #E3605F;
    transition-duration: 0.2s;
    color: white;
}
.danger:hover {
    background-color: darkred;
}

.success {
    align-items: center;
    background: #44BE72;
    color: white;
    transition-duration: 0.2s;
}
.default {
    background-color: #FFFFFF;
    transition-duration: 0.2s;
}
.default:hover {
    background-color: #999;
}
.primary{
    align-items: center;
    background: #4845E9;
    color: white;
    transition-duration: 0.2s;
    flex-grow: 1;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
