.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 818px;
    height: 328px;
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 1000;
}